/* 
    Document   : source
    Created on : Feb 15, 2011, 3:10:57 PM
    Author     : Eric Gach <eric@php-oop.net>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#code, #num {
	font-size: 14px;
	line-height: 20px;
}

#sitech_source #num {
	background-color: #e6e4e4;
	border: 1px solid black;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
