html,body {
    overflow-x: hidden;
}

html {
    font-family: $font;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: $light_shade;
    color: $dark_shade;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
}

#content {
    padding: 4rem 2rem;
}

#content a {
    color: $main;
    text-decoration: none;
}

#content a[target=_blank]:after {
    color: $main;
    content: '\f08e';
    font-family: FontAwesome;
    padding-left: 0.4rem;
}

.error-list {
    margin: 0 0 0 11em;
}

.error {
    color: $error;
}

.link-text:before {
    font-family: FontAwesome;
    padding: 0 0.6rem 0 1rem;
}

.panel > header {
    padding-top: 2.4rem;
}

.pure-menu-active > .pure-menu-link {
    background-color: $light_shade;
}

.pure-menu-active .menu-text {
    color: $dark_shade;
}

.profile-success {
    padding: 0 0 1.8rem 0;
}

.right {
    text-align: right;
}

.success {
    color: $success;
}

@media (min-width: 1024px) {
    #content {
        padding: 4rem 2rem 4rem 4rem;
    }
}

@media (min-width: 1280px) {
    #resume .pure-u-1:last-child {
        text-align: right;
    }
}

@media (min-width: 1280px) and (max-width: 1445px) {
    #content .link-text {
        font-size: 0;
    }

    #content .link-text:before {
        font-size: 1.6rem;
    }
}