#contact form input, #contact form textarea {
    width: 100%;
}

#contact form textarea {
    height: 30rem;
}

.centered {
    text-align: center;
}

@media (min-width: 1024px) {
    #contact form div > div:nth-child(2) {
        box-sizing: border-box;
        padding-left: 2rem;
    }
}
