#footer {
    padding: 8rem 0 10rem 0;
}

#footer div {
    text-align: center;
}

#footer section {
    line-height: 1.6em;
}

@media (min-width: 568px) {
    #footer section {
        border-left: 0.1rem solid rgba(40, 40, 40, 0.8);
        display: inline-block;
        margin-left: 0.6rem;
        padding-left: 1rem;
    }

    #footer section:first-child {
        border: none;
    }
}
