#footer {
    background-color: $light_accent;
    box-shadow: 0 -0.4rem 1rem -0.2rem $dark_shade;
    font-size: 1.1em;
    padding: 8rem 0 10rem 0;
}

#footer div {
    text-align: center;
}

#footer section {
    line-height: 1.6em;
}

#footer a {
    color: $main;
    text-decoration: none;
}

#footer a[target=_blank]:after {
    color: $main;
    content: '\f08e';
    font-family: FontAwesome;
    padding-left: 0.4rem;
}

@media (min-width: 568px) {
    #footer section:not(:first-child):before {
        content: '\f142';
        font-family: FontAwesome;
        margin: 0 1rem 0 0.4rem;
    }
    #footer section {
        display: inline-block;
    }
}
