// background colors
$main: #cd5e36;
$light_accent: #a1b5b9;
$light_shade: #f7f9f5;
$dark_accent: #ec983b;
$dark_shade: #312e3e;
// foreground colors
$default: #a1b5b9;
$error: #f44336;
$info: #302e3e;
$success: #739748;
$warning: #f08710;
// fonts
$font: Open Sans, sans-serif;
$heading: Lato, sans-serif;