{% load navigation sass_tags static wagtailuserbar %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand|Open+Sans">
        <link rel="stylesheet" type="text/css" href="{% sass_src 'scss/global.scss' %}">
        {% block extra_css %}
          {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block body %}
            <header id="header" class="pure-menu">
                <a href="/" id="logo" class="pure-menu-heading menu-heading menu-trigger" data-section="intro">
                    <span class="image avatar"><img src="{% static 'images/logo.png' %}" title="logo"></span>
                    <h1>Eric Gach</h1>
                    <p>Software Engineer</p>
                </a>
                <nav id="nav">
                  {% navigation 'main_nav' as menu %}
                  <ul class="pure-menu-list">
                    <li class="pure-menu-separator"></li>
                    {% for item in menu.menu_items.all %}
                      <li class="pure-menu-item">
                        <a href="{{ item.url }}" class="pure-menu-link menu-link menu-trigger"{% if item.link_anchor %} data-section="{{ item.link_anchor }}"{% endif %}>
                          <span class="menu-text"><i class="{{ item.menu_icon }}"></i> {{ item.menu_item_title }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
                <nav id="social">
                    <div class="pure-menu-separator"></div>
                    {% navigation 'social_nav' as social_icons %}
                    <ul class="pure-menu-list pure-menu-horizontal">
                        {% for icon in social_icons.menu_items.all %}
                            <li class="pure-menu-item"><a href="{{ icon.url }}" class="pure-menu-link menu-link" title="{{ icon.menu_item_title }}" target="_blank"><i class="{{ icon.menu_icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <section id="content">{% block content %}{% endblock %}</section>
            <footer id="footer">
                <div>
                    <section id="copyright">&copy; Eric Gach All Rights Reserved</section>
                    <i class="fa fa-ellipsis-v separator"></i>
                    <section id="project"><a href="https://www.github.com/BigE/portfolio" target="_blank">Portfolio</a> is built using the <a href="http://www.symfony.com/" target="_blank">Symfony Framework</a></section>
                </div>
            </footer>
            <a id="menuToggle"></a>
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
