/* 
    Document   : diff
    Created on : May 24, 2009, 10:45:54 PM
    Author     : Eric
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

ins.diff {
    color: green;
}

del.diff {
	color: red;
}

ins.tag, del.tag {
	cursor: pointer;
}

