body {
	font-family: Alef, sans-serif;
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;
	position: relative;
}

body > header {
	height: 6em;
}

#nav {
	position: fixed;
	top: 3em;
	left: 2em;
	width: 10em;
}

#nav a {
	display: block;
}

#content {
	margin: 2em 2em 2em 12em;
}