/* 
    Document   : source
    Created on : Jun 2, 2009, 6:55:26 PM
    Author     : Eric
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#sitech_source #num {
	background-color: #e6e4e4;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#footer {
	clear: both;
}
