#footer {
    background-color: $dark_shade;
    box-shadow: 0 -0.4rem 1rem -0.2rem $dark_shade;
    color: $main;
    font-size: 1.1em;
    padding: 8rem 0 10rem 0;
}

#footer div {
    text-align: center;
}

#footer section {
    margin: 0.8em 0;
    @media (min-width: 568px) and (max-width: 1024px), (min-width: 1280px) {
        display: inline-block;
    }
}

#footer section:not(:first-child):before {
    @media (min-width: 568px) and (max-width: 1024px), (min-width: 1280px) {
        content: '\f142';
        color: $light_shade;
        font-family: FontAwesome;
        margin: 0 1rem 0 0.4rem;
    }
}

#footer a {
    color: $light_accent;
    text-decoration: none;
}

#footer a[target=_blank]:after {
    color: $light_accent;
}
