#content, #footer, #menuToggle {
    @include transition(transform, 0.5s ease);
}

body.header-visible #content, body.header-visible #menuToggle, body.header-visible #footer {
    @include transform(translateX(27.5rem));
}

#header {
    background-color: $main;
    color: $light_shade;
    height: 100vh;
    left: 0;
    position: fixed;
    @include transform(translateX(-27.5rem));
    @include transition(transform, 0.5s ease);
    text-align: right;
    top: 0;
    width: 27.5rem;
}

body.header-visible #header {
    @include transform(translateX(0));
}

#header .menu-link, #header .menu-link:focus {
    background-color: $main;
    color: $light_shade;
}

#header .menu-link:hover, #header .pure-menu-active .menu-link {
    background-color: $light_shade;
    color: $main;
}

#logo {
    color: $light_shade;
    padding: 0;
    margin: 0.5rem 1rem;
    min-height: 4.8rem;
    position: relative;
}

#logo h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 0;
}

#logo p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0.6rem 0 0 0;
}

#logo .image {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
}

#menuToggle {
    display: inline-block;
    left: 0.25rem;
    position: fixed;
    top: 0.25rem;
}

#menuToggle:before {
    background-color: $dark_shade;
    border: 0.1rem solid $dark_accent;
    border-radius: 0.5rem;
    color: $main;
    content: '\f0c9';
    display: block;
    font-size: 2rem;
    line-height: 4rem;
    width: 5rem;
    text-align: center;
}

#social {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#social {
    .fa, .fab, .far {
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;
        font-size: 3.2rem;
        padding: 0.5rem 1rem;
    }
}

#social a:hover:before {
    background-color: $light_shade;
}

#social a:after {
    content: '';
}

#social .menu-link:hover {
    background-color: inherit;
    color: $main;
}

.avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 1rem -0.2rem $dark_shade;
    box-sizing: border-box;
    height: 4.8rem;
    display: block;
}

.menu-text {
    display: inline-block;
    line-height: 2em;
    position: relative;
    width: 100%;
}

.menu-text {
    .fa, .fab, .far {
        left: 0;
        line-height: 2em;
        position: absolute;
    }
}

@media (min-width: 1024px) {
    #content {
        margin-left: 20%;
    }

    #footer {
        margin-left: 20%;
    }

    #header {
        @include transform(translateX(0));
        width: 20%;
    }

    #logo .image {
        position: relative;
    }

    #menuToggle {
        display: none;
    }

    .block {
        box-shadow: inset 1.4rem 0 1rem -1rem $dark_shade;
    }
}

@media (min-width: 1320px) {
    #content {
        margin-left: 30rem;
    }

    #footer {
        margin-left: 30rem;
    }

    #header {
        width: 30rem;
    }

    #logo {
        min-height: 6.4rem;
    }

    #logo .image {
        position: absolute;
    }

    #social a:before {
        font-size: 4.2rem;
    }

    .avatar img {
        height: 6.4rem;
    }
}
